<!-- app/views/comments/unauthorized_delete.html.erb -->
<div class="container mt-4">
  <div class="alert alert-warning" role="alert">
    <h1>You can't delete the comment, cry over it :)</h1>
    <p><%= link_to 'Back', message_path(@message), class: "btn btn-primary" %></p>
  </div>
</div>
